  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
  background-color: #f2f2f2;
}

.session-form-master {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

}

.login-form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  border-radius: 3px;
  width: 75%;
  height: 22px;
  font-size: 14px;
  border: 1px solid #999;
  padding: 5px 9px;

}

.session-submit {
  width: 80%;
  background-color: #D32323;
  font-size: 14px;
  color: white;
  padding: 10px 15px 10px;
  border-radius: 5px;
  vertical-align: middle;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border: 2px solid #999;
}

.login-form-box {
  display: center;
  padding: 20px;
}

.login-signup {
  display: flex;
  position: absolute;
  width: 75%;
  z-index: 50;
  justify-content: flex-end;
  top: 30px;
}

.auth {
  width: 100%;
  height: 86px;

  top: 0px;
  left: 0px;
}

.loginbtn {
  color: #fff;
  display: block;
  padding: 9px 12px 10px;
  font-size: 14px;
  line-height: 1.28571em;
  font-weight: 700;
  background: none;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  text-decoration: none;
}

.signupbtn {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
  border: 2px solid #fff;
  margin-top: -2px;
  padding: 7px 24px 8px;
  color: #fff;
  display: block;
  font-size: 14px;
  line-height: 1.28571em;
  font-weight: 700;
  background: none;
  padding-bottom: 8px;
  text-decoration: none;
}

.logo {
  text-decoration: none;
  font-size: 100px;
  font-style: italic;
  font-family: fantasy;
  font-weight: 600;
  color: white;
  position: absolute;
  margin-left: 300px;
  padding-top: 100px;
}

.homepage {
  background-image: url('/assets/restaurant.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
}

.loginNav {

  height: 64px;
  background-color: #d32323;
  display: flex;
  align-items: center;
}

.yeep {
  color: black;
  text-decoration: none;
  margin: 0 auto;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  font-family: fantasy;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 500px;

}

.heading {
  color: #d32323;
}

.legal-copy {
  width: 80%;
  margin: auto;
}

.first-lastname {
  display: flex;
  justify-content: space-between;
  width: 79%;
}

.first-lastname input {
  width: 44%;
  border-radius: 3px;
  border: 1px solid #999;
  height: 22px;
  font-size: 14px;
  padding: 5px 9px;

}

.birthday {
  text-align: left;
  width:78%
}

.dropdown {
  justify-content: flex-start;
  display: flex;

}

.login-form-box h3 {
  color: black;
  font-weight: bold;
}

select {
  color: #999;
  margin-bottom: 9px;
  height: 30px;
  line-height: 30px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 18px;
  padding: 5px 9px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 14px;
}

/*footer*/

.main-content-wrap {
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
  border-top: 1px solid #999;
}


.content-container {
  width: 960px;
  margin: 0 auto;
}

.main-footer {
  font-size: 14px;
  line-height: 1.28571em;
}

.main-footer-section {
  display: table;
}

.main-footer-item {
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  width: 250px;
}


h3 {
  word-wrap: break-word!important;
  word-break: break-word!important;
  overflow-wrap: break-word!important;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125em;
  color: #d32323;
}

ul {
  list-style: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  padding: 0px;
}

.footer-menu-item {
  margin-bottom: 6px;
}

li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.main-footer-city {
  background: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/573fa19c8435/assets/img/structural/footer_cityscape.png) no-repeat center bottom;
  background-size: 660px 140px;
  margin: 42px auto 18px;
  height: 80px;
}

.main-footer-copyright {
  display: block;
  margin-top: 18px;
  text-align: center;
}

small {
  font-size: 12px;
  line-height: 1.5em;
}

/* map */
.map {
  width: 500px;
  height: 500px;
}

.single-business-map {
  height: 200px;
  width: 200px;
}

.map-container {
  height: 500px;
  width: 500px;
}


/* search bar */

.search-container {
  width: 960px;
  height: 63px;
  position: relative;
  top: 215px;
  margin: 0 auto;

}

.search {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header {
  color: #666;
  float: left;
  font-weight: bold;
  font-size: 24px;
  background-color: white;
  height: 35px;
  border-radius: 4px 0 0 4px;
  line-height: 34px;
  padding: 6px 10px 6px 10px;
  border-top: 2px solid #9A9A9A;
  border-bottom: 2px solid #EEEEEE;
}

.keywords {
  width: 416px;
  height: 45px;
  padding-left: 10px;
  margin: 0px;
  border-left: 0px;
  font-size: 18px;
}

.location {
  width: 416px;
  height: 45px;
  padding-left: 5px;
  margin: 0px;
  border-left: 0px;
  font-size: 18px;
}

.submit {
  width: 54px;
  height: 51px;
  border-radius: 0 5px 5px 0;
  border: 0;
  background: #bd1f1f;
  padding: 17px 15px 15px;
  box-shadow: none;
}

.svg-search {
  width: 24px;
  height: 24px;
  fill: white;
  background-color: #BD1F1F;
}

/*center container*/

.center-container {
  max-width: 960px;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.city-nav {
  width: 960px;
  height: 68px;
  padding-top: 36px;
  text-align: center;
  border-bottom: 1px solid gray;
}

.city-name {
  color: #D32323;
  font-size: 22px;
  font-weight: bold;
  width: -webkit-fill-available;
}

.hot-businesses-container {
  padding-top: 22px;
  text-align: center;
  width: 960px;
  height: 384px;
}

.header3 {
  color: #D32323;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.new-biz-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
  height: 352px;
}

.biz-box {
  width: 299px;
  height: 322px;
  padding-left: 15px;
  padding-right: 15px;
}

.photo-box {
  max-width: 298px;
  max-height: 180px;
  overflow: hidden;
}

.biz-img {
  width: 298px;
  height: 180px;
  border-radius: 3px;
}

.info-box {
  text-align: left;
  text-indent: 12px;
  font-size: 12px;
  width: 298px;
  height: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.small-header {
  width: 100%;
  font-size: 18px;
  margin-top: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.pub-stars {
  width: 110px;
  height: 18px;
  margin-left: 10px;
  background: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png) 0 194px;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle;
}

.reviews-counter {
  width: 54%;
  margin: 0;
  line-height: 19px;
  font-size: 12px;
}

.price-counter {
  letter-spacing: 2px;
  font-size: 14px;
  margin: 0px;
}

.category-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.fire {
  width: 200px;
  height: 20px;
  margin: 0px;
}

.address {
  font-size: 14px;
}

.main-categories {
  text-align: center;
  font-size: 10px;
  display: inline-block;
  margin-top: 25px;
  width: 960px;
  height: auto;
  background-color: #f5f5f5;
}

.category-boxes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}

.category-box {
  margin: 10px 20px 10px 20px;
  border-radius: 6px;
  width: 217px;
  height: 137px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
}

.icon {
  height: 72px;
  width: 72px;
}
