  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
  background-color: white;
}

.session-form-master {
  text-align: center;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  height: 600px;
  margin-left: 15%;
  padding: 40px 0 0 0;
}

.login-form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  border-radius: 3px;
  width: 75%;
  height: 22px;
  font-size: 14px;
  border: 1px solid #999;
  padding: 5px 9px;

}

.session-submit {
  width: 80%;
  background-color: #D32323;
  font-size: 14px;
  color: white;
  padding: 10px 15px 10px;
  border-radius: 5px;
  vertical-align: middle;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border: 2px solid #999;
}

.login-form-box {
  display: center;
  padding: 20px;
}

.login-signup {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  top: 30px;
  right: 150px;
}

.auth {
  max-width: 1000px;
  height: 86px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.write-a-review {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  top: 30px;
}

.reviewbtn {
  color: #fff;
  display: block;
  padding: 9px 12px 10px;
  font-size: 16px;
  font-weight: 700;
  background: none;
 border-bottom: 2px solid transparent;

}

.reviewbtn:hover {
  border-bottom: 2px solid #fff;
}

.loginbtn {
  color: #fff;
  display: block;
  padding: 9px 12px 10px;
  font-size: 16px;
  line-height: 1.28571em;
  font-weight: 700;
  background: none;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
}

.loginbtn:hover {
  border-bottom: 2px solid #fff;
}

.signupbtn {
  border-radius: 4px;
  border: 2px solid #fff;
  margin-top: -2px;
  padding: 10px 24px 8px;
  color: #fff;
  display: block;
  font-size: 16px;
  line-height: 1.28571em;
  font-weight: 700;
}


.logo-container {
  margin: 0 auto;
  position: relative;
  top: 70px;
  width: 200px;
}

.logo {
  font-size: 100px;
  color: white;
  font-style: italic;
  font-family: fantasy;
  font-weight: bold;
  display: flex;
  align-items: center;
}


.homepage {
  background-image: url('/assets/restaurant.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  justify-content: space-between;
  margin: 0 auto;
}

.loginNav {
  height: 64px;
  background-color: #d32323;
  display: flex;
  align-items: center;
}

.yeep {
  color: black;
  margin: 0 auto;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  font-family: fantasy;
}


.heading {
  color: #d32323;
}

.legal-copy {
  width: 80%;
  margin: auto;
}

.first-lastname {
  display: flex;
  justify-content: space-between;
  width: 79%;
}

.first-lastname input {
  width: 44%;
  border-radius: 3px;
  border: 1px solid #999;
  height: 22px;
  font-size: 14px;
  padding: 5px 9px;

}

.birthday {
  text-align: left;
  width:78%
}

.dropdown {
  justify-content: flex-start;
  display: flex;

}

.login-form-box h3 {
  color: black;
  font-weight: bold;
}

select {
  color: #999;
  margin-bottom: 9px;
  height: 30px;
  line-height: 30px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 18px;
  padding: 5px 9px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 14px;
}

/*footer*/

.main-content-wrap {
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
  border-top: 1px solid #999;
  align-items: center;
}


.content-container {
  width: 960px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.main-footer {
  font-size: 14px;
  line-height: 1.28571em;
}

.main-footer-section {
  display: table;
}

.main-footer-item {
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  width: 250px;
}

.main-footer-city {
  background: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/573fa19c8435/assets/img/structural/footer_cityscape.png) no-repeat center bottom;
  height: 80px;
  width: 100%;
  background-color: #f2f2f2;
}

.main-footer-copyright {
  display: block;
  text-align: center;
  width: 100%;
  background-color: #f2f2f2;
}

small {
  font-size: 12px;
  line-height: 1.5em;
}

/* map */
.map {
  width: 500px;
  height: 500px;
}

.single-business-map {
  height: 200px;
  width: 200px;
}

.map-container {
  height: 500px;
  width: 500px;
}


/* search bar */

.search-container {
  width: 960px;
  height: 63px;
  position: relative;
  top: 150px;
  margin: 0 auto;

}

.search {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header {
  color: #666;
  float: left;
  font-weight: bold;
  font-size: 24px;
  background-color: white;
  height: 35px;
  border-radius: 4px 0 0 4px;
  line-height: 34px;
  padding: 6px 10px 6px 10px;
  border-top: 2px solid #9A9A9A;
  border-bottom: 2px solid #EEEEEE;
}

.keywords {
  width: 416px;
  height: 45px;
  padding-left: 10px;
  margin: 0px;
  border-left: 0px;
  font-size: 18px;
}

.location {
  width: 416px;
  height: 45px;
  padding-left: 5px;
  margin: 0px;
  border-left: 0px;
  font-size: 18px;
}

.submit {
  width: 54px;
  height: 51px;
  border-radius: 0 5px 5px 0;
  border: 0;
  background: #bd1f1f;
  padding: 17px 15px 15px;
  box-shadow: none;
}

/* tags */

.tags-container {
  top: 150px;
  position: relative;
  margin: 0 auto;
  height: 30px;
}

.tags {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  width: 400px;
}

.tags h3 {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

/*center container*/

.center-container {
  max-width: 960px;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.city-nav {
  width: 960px;
  height: 68px;
  padding-top: 36px;
  text-align: center;
  border-bottom: 1px solid gray;
}

.city-name {
  color: #D32323;
  font-size: 22px;
  font-weight: bold;
  width: -webkit-fill-available;
}

.hot-businesses-container {
  padding-top: 22px;
  text-align: center;
  width: 960px;
  height: 384px;
}

.header3 {
  color: #D32323;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.new-biz-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
  height: 352px;
}

.biz-box {
  width: 299px;
  height: 322px;
  padding-left: 15px;
  padding-right: 15px;
}

.photo-box {
  max-width: 298px;
  max-height: 180px;
  overflow: hidden;
}

.biz-img {
  width: 298px;
  height: 180px;
  border-radius: 3px;
}

.info-box {
  text-align: left;
  text-indent: 12px;
  font-size: 12px;
  width: 298px;
  height: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.small-header {
  width: 100%;
  font-size: 18px;
  margin-top: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.pub-stars {
  width: 110px;
  height: 18px;
  margin-left: 10px;
  background: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png) 0 194px;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle;
}

.reviews-counter {
  width: 54%;
  margin: 0;
  line-height: 19px;
  font-size: 12px;
}

.price-counter {
  letter-spacing: 2px;
  font-size: 14px;
  margin: 0px;
}

.category-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.fire {
  width: 200px;
  height: 20px;
  margin: 0px;
  color: red;
}

.address {
  font-size: 14px;
}

.main-categories {
  text-align: center;
  font-size: 10px;
  display: inline-block;
  margin-top: 25px;
  width: 960px;
  height: auto;
  background-color: #f5f5f5;
}

.category-boxes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}

.category-box {
  margin: 10px 20px 10px 20px;
  border-radius: 6px;
  width: 217px;
  height: 137px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
}

.icon {
  height: 72px;
  width: 72px;
}

/* business-show */

.single-business-show {
  min-width: 1020px;
  font-family: "Arimo", sans-serif;
  padding-bottom: 36px;
}

.nav-container {
  background-color: pink;
  height: 91px;
  width: 100%;
}

.nav-upper {
  width: 100%;
  height: 64px;
  background-color: #d32323;
}

.nav-lower {
  width: 100%;
  height: 27px;
  background-color: #bd1f1f;
}

.upper-inner-container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar-container {
  min-width: 70%;
  display: flex;
  justify-content: center;
}

.search-bar {
  min-width: 70%;
  display: flex;
  justify-content: center;
}

.lower-inner-container {
  width: 960px;
  display: flex;
  margin: 0 auto;
}

.business-container {
  margin: 0 auto;
  min-width: 990px;
}

.business-elements {
  height: 410px;
  background-color: #f5f5f5;
  margin-bottom: 80px;
  border-bottom: 1px solid #e6e6e6;
}

.business-show {
  padding: 30px 15px 24px;
  height: 440px;
  width: 960px;
  margin: 0 auto;
}

.business-info {
  display: flex;
  height: 112px;
  align-items: center;
  line-height: 1.3125em;
}

.info-left {
  width: 525px;
  height: 112px;
  padding-right: 30px
}

.review {
  margin-top: 10px;
  display: flex;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 10px;
}

.star {
  height: 18px;
  width: 132px;
  background: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png) 0 194px;
  margin-right: 7px;
}

.price-tag {
  font-size: 16px;
}

.info-right {
  width: 405px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.reviewbtn {
  height: 38px;
  width: 172px;
  border: 1px solid #8d0005;
  background-color: #d32323;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  margin-right: 20px;
}

.map-and-pic {
  height: 315px;
  display: flex;
}

.map-box-container {
  width: 32%;
  border: 1px solid #ccc;
  background-color: white;
}

.map-box {
  padding: 5px;
}

.map {
  height: 135px;
  border: 1px solid #ccc;
  width: 100%;
}

#map-container {
  position: relative;
  overflow: hidden;
}

.address {
  height: 150px;
}

.page-info {
  position: relative;
  margin-top: 80px;
  margin-left: -30px;

}

.info a {
  text-decoration: underline;
  cursor: pointer;
}

.info li {
  margin: 4px;
}

.fa-icon {
  margin-right: 8px;
}

.address-info {
  font-weight: bold;
  line-height: 20px;
}

.pic-container {
  width: 71%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pic-box {
  width: 660px;
  height: 220px;
  position: absolute;
  display: flex;
}

.img {
  width: 100%;
  transition: transform .2s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
}

.business-lowerhalf {
  padding: 0 15px;
  display: grid;
  grid-template-columns: 66% 32%;
  grid-auto-rows: minmax(200px, auto);
  grid-column-gap: 1.228em;
  width: 960px;
  margin: 0 auto;
}

.business-reviews {
  padding-right: 15px;
}

.business-reviews h2 {
  font-weight: 700;
  color: #d32323;
  margin-bottom: 6px;
  padding-bottom: 6px;
  font-size: 22px;
  border-bottom: 1px solid #e6e6e6;
}

.review-list {
  list-style: none;
}

.review {
  margin: 0;
  padding: 18px 0;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 17px;
}

.review-container {
  display: flex;
}

.user-info {
  height: 100px;
  padding: 0 15px 0 0;
  min-height: 1px;
  box-sizing: border-box;
  width: 37.5%;
  display: flex;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.profile-img img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  object-fit: cover;
  display: block;
}

.info {
  margin-left: 10px;
  margin-top: 0px;
}

.info section {
  margin-bottom: 5px;
}

.name {
  font-weight: 700;
}

.review-count {
  display: flex;
  align-items: center;
}

.light-weight {
  font-weight: 400;
  margin-left: 3px;
  font-size: 12px;
}

.photo-count {
  display: flex;
  align-items: center;
}

.review-info {
  height: auto;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  width: 62.5%;
}

.review-content {
  min-height: 135px;
}

.rate {
  display: flex;
  align-items: center;
  width: auto;
  margin: 6px 0;
}

.date {
  color: #666;
  font-size: 14px;
}

.body {
  margin-bottom: 12px;
  font-size: 14px;
}

.hours-price {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 18px;
  display: flex;
}

.hours-icon {
  width: 34px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.content {
  border-bottom: 1px solid #e6e6e6;
  height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
}

.key {
  margin-right: 12px;
  width: 100px;
}

.value {
  font-weight: 700;
  width: 200px;
}

.price-icon {
  color: #999;
  padding-right: 10px;
  margin-left: 8px;
}

.hours-info {
  margin-left: 30px;
  font-size: 14px;
  margin-bottom: 24px;
}

.hour-table {
  border-spacing: 0;
  display: table;
  border-collapse: separate;
  border-color: grey;
}

.more-info {
  margin-left: 30px;
  font-size: 14px;
}

.business-page {
  display: flex;
}

li {
  display: flex;

}

h3 {
  color: red;
}

dd {
  font-weight: bold;
}

dl {
  display: flex;
}

/* review form */

.review-form {
  font-family: "Arimo", sans-serif;
  padding-bottom: 36px;
}

.heading {
  background-color: #d32323;
  height: 64px;
  margin-bottom: 30px;
}

.heading-container {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  color: black;
}

.form-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: text;
  padding: 18px;
  max-width: 630px;
  margin-bottom: 20px;
}

.rating {
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.rating-star {
  padding-left: 3px;
  float: left;
  height: 30px;
  width: 30px;
}

.form-container textarea {
  height: 100px;
  width: 100%;
  font-size: 18px;
  border: 0;
  outline: none;
  padding: 0;
  resize: none;
  min-height: 258px;
}

.rating-stars {
  width: 162px;
  height: 100%;
  background-image: url(/assets/review_star-434c198b09da005418046fa42086f1dbf54b1bd47ac4dbe90535c9095ff9a823.png);
  list-style: none;
  display: flex;
}
