  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
  background-color: white;
}

h2 {
  color: black;
}

.session-form-master {
  text-align: center;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  height: 600px;
  margin-left: 15%;
  padding: 40px 0 0 0;
}

.login-form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  border-radius: 3px;
  width: 75%;
  height: 22px;
  font-size: 14px;
  border: 1px solid #999;
  padding: 5px 9px;

}

.session-submit {
  width: 80%;
  background-color: #D32323;
  font-size: 14px;
  color: white;
  padding: 10px 15px 10px;
  border-radius: 5px;
  vertical-align: middle;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border: 2px solid #999;
}

.login-form-box {
  display: center;
  padding: 20px;
}

.login-signup {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  top: 30px;
  right: 420px;
}

.auth {
  max-width: 1000px;
  height: 86px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.write-a-review {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  top: 30px;
}

.review-btn {
  color: #fff;
  display: block;
  padding: 9px 12px 10px;
  font-size: 16px;
  font-weight: 700;
  background: none;
  vertical-align: baseline;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
}

.review-btn:hover {
  border-bottom: 2px solid #fff;
}

.reviewbtn a {
  color: white;
}

.loginbtn {
  color: #fff;
  display: block;
  padding: 9px 12px 10px;
  font-size: 16px;
  line-height: 1.28571em;
  font-weight: 700;
  background: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  border: 0px;
}

.loginbtn:hover {
  border-bottom: 2px solid #fff;
}

.signupbtn {
  border-radius: 4px;
  border: 2px solid #fff;
  margin-top: -2px;
  padding: 10px 24px 8px;
  color: #fff;
  display: block;
  font-size: 16px;
  line-height: 1.28571em;
  font-weight: 700;
}

.header-name {
  color: #d32323;
  font-weight: 700;
  padding: 9px 12px 10px;
  display: block;
  font-size: 16px;
  line-height: 1.28571em;
  padding-bottom: 8px;
}


.logo-container {
  margin: 0 auto;
  position: relative;
  top: 70px;
  width: 200px;
}

.logo {
  font-size: 100px;
  color: white;
  font-style: italic;
  font-family: fantasy;
  font-weight: bold;
  display: flex;
  align-items: center;
}


.background1 {
  background-image: url('https://www.wien.info/media/images/41993-das-loft-sofitel-so-vienna-19to1.jpeg');
  background-size: cover;
  background-position: center;
  height: 600px;
  justify-content: space-between;
  margin: 0 auto;
}

.background2 {
  background-image: url("http://airchal.com/wp-content/uploads/2014/07/Shoppingcenter-720x460.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  justify-content: space-between;
  margin: 0 auto;
}

.background3 {
  background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--qYyqZXyq--/c_scale,f_auto,fl_progressive,q_80,w_800/cxrzfcgg8ywh50pd7pbk.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  justify-content: space-between;
  margin: 0 auto;
}

.background4 {
  background-image: url("http://sf2.mariefranceasia.com/wp-content/uploads/sites/7/2016/04/feature-4-750x410.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  justify-content: space-between;
  margin: 0 auto;
}

.background5 {
  background-image: url("https://www.discotech.me/wp-content/uploads/2014/12/omnia_header.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  justify-content: space-between;
  margin: 0 auto;
}


.loginNav {
  height: 64px;
  background-color: #d32323;
  display: flex;
  align-items: center;
}

.yeep {
  color: black;
  margin: 0 auto;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  font-family: fantasy;
}


.heading {
  color: #d32323;
}

.legal-copy {
  width: 80%;
  margin: auto;
}

.first-lastname {
  display: flex;
  justify-content: space-between;
  width: 79%;
}

.first-lastname input {
  width: 44%;
  border-radius: 3px;
  border: 1px solid #999;
  height: 22px;
  font-size: 14px;
  padding: 5px 9px;

}

.birthday {
  text-align: left;
  width:78%
}

.dropdown {
  justify-content: flex-start;
  display: flex;

}

.login-form-box h3 {
  color: black;
  font-weight: bold;
}

select {
  color: #999;
  margin-bottom: 9px;
  height: 30px;
  line-height: 30px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 18px;
  padding: 5px 9px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 14px;
}


/*center container*/

.center-container {
  max-width: 960px;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.city-nav {
  width: 960px;
  height: 68px;
  padding-top: 36px;
  text-align: center;
  border-bottom: 1px solid gray;
}

.city-name {
  color: #D32323;
  font-size: 22px;
  font-weight: bold;
  width: -webkit-fill-available;
}

.hot-businesses-container {
  padding-top: 22px;
  text-align: center;
  width: 960px;
  height: 384px;
}

.header3 {
  color: #D32323;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

}

.new-biz-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
  height: 352px;
}

.biz-box {
  width: 299px;
  height: 322px;
  padding-left: 15px;
  padding-right: 15px;
}

.photo-box {
  max-width: 298px;
  max-height: 180px;
  overflow: hidden;
}

.biz-img {
  width: 298px;
  height: 180px;
  border-radius: 3px;
}

.info-box {
  align-items: baseline;
  text-align: left;
  height: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding-left: 10px;
}

.small-header {
  width: 100%;
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.review-and-star {
  display: flex;
  width: 250px;
}

.reviews-counter {

  margin: 0 auto;
  line-height: 19px;
  font-size: 12px;
  margin-top: 10px;
}

.price-counter {
  letter-spacing: 2px;
  font-size: 14px;
  margin-top: 10px;
}

.category-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.fire {
  width: 200px;
  height: 20px;
  margin: 0px;
  color: red;
}

.main-categories {
  text-align: center;
  font-size: 10px;
  display: inline-block;
  margin-top: 25px;
  width: 960px;
  height: auto;
  background-color: #f5f5f5;
}

.category-boxes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}

.category-box {
  margin: 10px 20px 10px 20px;
  border-radius: 6px;
  width: 217px;
  height: 137px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
}

.icon {
  height: 72px;
  width: 72px;
}

/* business-show */

.single-business-show {
  min-width: 1020px;
  font-family: "Arimo", sans-serif;
  padding-bottom: 36px;
}

.nav-container {
  background-color: pink;
  height: 91px;
  width: 100%;
}

.nav-upper {
  width: 100%;
  height: 64px;
  background-color: #d32323;
  justify-content: center;
}

.nav-lower {
  width: 100%;
  height: 27px;
  background-color: #bd1f1f;
  justify-content: center;
}

.upper-inner-container {
  width: 960px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.search-bar-container {
  min-width: 70%;
  display: flex;
  justify-content: center;
}

.search-bar {
  min-width: 70%;
  display: flex;
  justify-content: center;
}

.lower-inner-container {
  height: 27px;
  width: 960px;
  display: flex;
  margin: 0 auto;
}

.business-container {
  margin: 0 auto;
  min-width: 990px;
}

.business-elements {
  height: 410px;
  background-color: #f5f5f5;
  margin-bottom: 80px;
  border-bottom: 1px solid #e6e6e6;
}

.business-show {
  padding: 30px 15px 24px;
  height: 440px;
  width: 960px;
  margin: 0 auto;
  justify-content: flex-end;
}

.business-info {
  display: flex;
  height: 112px;
  align-items: center;
  line-height: 1.3125em;
  justify-content: space-between;
}

.info-left {
  width: 525px;
  height: 112px;
  padding-right: 30px
}

.info-left h1{
  width: 500px;
  height: 15px;
}

.review-under-name {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 250px;
  justify-content: space-between;
}

.info-right {
  height: 100px;
  margin-top: 30px;
  left: 100px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.reviewbtn {
  height: 38px;
  width: 172px;
  border: 1px solid #8d0005;
  background-color: #d32323;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.upload-photo-btn {
  height: 30px;
  width: 120px;
  margin-top: 5px;
}

.upload-photo-btn a {
  color: #666;
}

.half-line {
  max-width: 80%;
  margin: 18px auto;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid transparent;
  text-align: center;
}

.drop {
  width: 936px;
  margin: 50px auto;
  padding: 120px 0;
  box-sizing: border-box;
  border: 5px dashed #999;
  border-radius: 10px;
  text-align: center;
}

.upload-box button {
  height: 35px;
  width: 130px;
  border: 1px solid #8d0005;
  background-color: #d32323;
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.another {
  color: #0073bb;
  font-size: 14px;
  pointer-events: all;
  cursor: pointer;
}

.preview {
  width: 300px;
  margin: 0 auto;
}

.preview img {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

.upload-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.upload-btn button {
  text-align: center;
  height: 34px;
  width: 134px;
  border: 1px solid #8d0005;
  background-color: #d32323;
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-radius: 3px;
  margin-bottom: 25px;
}

.upload-pic {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.single-pic p {
  color: #999;
  font-weight: normal;
  width: 170px;
}

.map-and-pic {
  height: 315px;
  display: flex;
}

.map-box-container {
  width: 32%;
  border: 1px solid #ccc;
  background-color: white;
}

.map-box {
  padding: 5px;
}

.map {
  height: 135px;
  border: 1px solid #ccc;
  width: 100%;
}

#map-container {
  position: relative;
  overflow: hidden;
}

.address {
  height: 150px;
}

.page-info {
  position: relative;
  margin-top: 80px;
  margin-left: -30px;
  font-size: 15px;
}

.info a {
  text-decoration: underline;
  cursor: pointer;
}

.info li {
  margin: 4px;
}

.fa-icon {
  margin-right: 8px;
}

.address-info {
  font-weight: bold;
  line-height: 20px;
}

.pic-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pic-container img {
  width: 180px;
  height: 180px;
  margin-right: 15px;
  object-fit: fill;
}


.pic-box {
  width: 660px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pic-box button {
  z-index: 100;
  opacity: 0.5;
  background-color: transparent;
  outline: none;
  border: none;
}

.prev {
  margin-left: -1230px;
  margin-top: 100px;
}

.next {
  margin-right: -5px;
  margin-top: 100px;
}

.prev :hover, .next :hover {
  opacity: 1;
}


.img-box {
  width: 660px;
  height: 220px;

  box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
  display: flex;
  margin-top: 47px;
  margin-bottom: -47px;
}

.center {
  transform: scale(1.3);
  z-index: 100;
}

.img:hover {
  transform: scale(1.3);
  z-index: 100;
}

.img {
width: 100%;
transition: transform .2s;
overflow: hidden;
box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
}

.img img {
  width: 220px;
  height: 100%;
}

.fa-arrow-left {
  color: white;
  font-size: 36px;
}

.fa-arrow-right {
  color: white;
  font-size: 36px;
}



.business-lowerhalf {
  padding: 0 15px;
  display: grid;
  grid-template-columns: 66% 32%;
  grid-auto-rows: minmax(200px, auto);
  grid-column-gap: 1.228em;
  width: 960px;
  margin: 0 auto;
}

.business-reviews {
  padding-right: 15px;
}

.business-reviews h2 {
  font-weight: 700;
  color: #d32323;
  margin-bottom: 6px;
  padding-bottom: 6px;
  font-size: 22px;
  border-bottom: 1px solid #e6e6e6;
}

.review-list {
  list-style: none;
}

.review-container {
  display: flex;
}

.user-info {
  height: 100px;
  padding: 0 15px 0 0;
  min-height: 1px;
  box-sizing: border-box;
  width: 37.5%;
  display: flex;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.profile-img img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  object-fit: cover;
  display: block;
}

.info {
  margin-left: 10px;
  margin-top: 0px;
}

.info section {
  margin-bottom: 5px;
}

.name {
  font-weight: 700;
}

.review-count {
  display: flex;
  align-items: center;
}

.light-weight {
  font-weight: 400;
  margin-left: 3px;
  font-size: 12px;
}

.photo-count {
  display: flex;
  align-items: center;
}

.review-content {
  min-height: 135px;
}

.rate {
  display: flex;
  align-items: center;
  width: auto;
  margin: 6px 0;
}

.date {
  color: #666;
  font-size: 14px;
}

.body {
  margin-bottom: 12px;
  font-size: 14px;
}

.sidebar {
  font-family: inherit;
  position: relative;
}

.hours-price {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 18px;
}

.hours-price li {
  display: flex;
  align-items: center;
  height: 36px;
}

.hours-icon {
  width: 34px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #999;
  padding-right: 10px;
  margin-left: 8px;
}

.content {
  border-bottom: 1px solid #e6e6e6;
  height: inherit;
  width: 76%;
  display: flex;
  align-items: center;
}

.key {
  margin-right: 12px;
  width: 100px;
}

.value {
  font-weight: 700;
  width: 200px;
}

.price-icon {
  width: 34px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #999;
  padding-right: 10px;
  margin-left: 8px;
}

.hours-info {
  margin-left: 30px;
  font-size: 14px;
  margin-bottom: 24px;
}

.hour-table {
  border-spacing: 0;
  display: table;
  border-collapse: separate;
  border-color: grey;
}

.more-info {
  margin-left: 30px;
  font-size: 14px;
}

.business-page {
  display: flex;
}

li {
  display: flex;

}

h3 {
  color: red;
}

dd {
  font-weight: bold;
}

dl {
  display: flex;
}


/* search */

.top-content-container {
  width: 100%;
  min-width: 1020px;
  position: relative;
  padding-top: 15px;
  background-color: #f5f5f5;
  height: 70px;
  margin-bottom: 1px;
}

.top-content {
  width: 930px;
  margin: 0 auto;
  margin-top: 15px;
}

.main-content {
  width: 960px;
  padding: 15px 15px 36px 15px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
}

.business-list {
  min-height: 400px;
  width: 630px;
  padding: 0 15px;
}

.index-item-info {
  height: 210px;
  width: 630px;
  min-width: 0;
  display: flex;
}

.info-container {
  width: 402px;
  height: 210px;
}

.info-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.information-left {
  width: 250px;
  height: auto;
}

.information-right {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 14px;
  margin-top: 30px;
}

.info-bottom {
  font-size: 14px;
  line-height: 20px;
}

.right-map {
  min-height: 400px;
  width: 300px;
  padding: 0 15px;
}

/* write a review */

.top-container {
  margin: 0 auto;
  display: flex;
  background-color: #f5f5f5;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
}

.top-left {
  width: 700px;
}

.top-left h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2em;
  padding-top: 6px;
}

.top-left h2 {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.3125em;
}

.searchbar-container {
  width: 630px;
  height: 30px;
}

.searchbar {
  display: flex;
  align-items: center;
}

.button {
  padding: 7px 9px;
  border: 1px solid #8d0005;
  background-color: #d90007;
  vertical-align: middle;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  background: linear-gradient(#d90007, #c91400);
  border-radius: 3px;
  position: relative;
  bottom: 1px;
}

.searchbar label {
  margin-right: 5px;
}

.search-find {
  box-sizing: border-box;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.28571em;
  width: 45%;
  padding: 6px 6px;
  margin: 3px 0;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: white;
}

.search-input input {
  border: 0px;
}

.search-title {
  margin-right: 10px;
  font-weight: 700;
}

.search-loc {
  box-sizing: border-box;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.28571em;
  width: 45%;
  padding: 6px 6px;
  margin: 3px 0;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: white;
}

.top-image img {
  width: 260px;
  height: 160px;
  margin-top: 50px;
}

.white-space {
  height: 400px;
}
